.root {
  height: 100%;
  position: relative;
  overflow: hidden;
  &.dragging{
    cursor: move;
  }
}

.imageFit {
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  height: 100%;
}

.saveControls {
  position: absolute;
  right: 0;
  top: 0;
}

.editControls {
  position: absolute;
  right: 0;
  bottom: 0;
}

.controlBtn {
  border-radius: 6px;
  &__primary{

  }

  &__secondary {

  }
}
